<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Intelipost</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"  />
        <link href="/stylesheets/form.css" rel="stylesheet" />
    </head>
    <body>
        <div id="flash-message" class="alert alert-warning" role="alert" th:if="${message}" th:text="${message}"></div>
        <div class="container">
            <h1>Case Intelipost</h1>
            <form class="form-signin" action="/login" method="post">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="username" type="email" id="inputEmail" class="form-control" placeholder="email" required="required" autofocus="autofocus" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="password" required="required" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </body>
</html>